@charset "UTF-8";
.wrapper {
  height: 100%;
  width: 100%;
}

header {
  width: 120rem;
  height: 64rem;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url(../img/header/photo.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .header_top {
  display: flex;
  width: 100rem;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  /*padding: 2.5rem 23.5rem;*/
}
header .header_top .logo {
  width: 7.7rem;
  height: 1.625rem;
  color: #ffffff;
  padding-top: 2.5rem;
  margin-left: 10rem;
  font-family: Raleway;
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: -0.085rem;
  text-decoration: none;
  fill: #fff;
  flood-color: white;
}
header .header_top .logo:hover {
  color: #998675;
  fill: #998675;
  flood-color: #998675;
}
header .header_top ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
header .header_top a {
  text-decoration: none;
}
header .header_top li {
  margin: 15px;
  margin-top: 3.9rem;
  color: #ffffff;
  fill: #ffffff;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}
header .header_top li:hover {
  height: 0.688rem;
  color: #c7b299;
  fill: #c7b299;
}
header .header_top .sertch-icon {
  margin: 15px;
  margin-top: 3.9rem;
  width: 150px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../img/header/icon-search.svg);
  background-repeat: no-repeat;
  outline: none;
  border: none;
  padding-left: 28px;
  color: #c7b299;
}
header .header_top .sertch-icon:hover, header .header_top .sertch-icon:focus {
  outline: solid 2px #c7b299;
  background-color: rgba(255, 255, 255, 0.05);
  background-image: url(../img/header/icon-search-hover.svg);
  background-position: 0px 5px;
}
header .header-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .headline {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
}
header .headline span {
  font-family: Raleway;
  color: #ffffff;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 500;
  text-align: center;
}
header .headline h1 {
  font-family: Raleway;
  color: #ffffff;
  font-size: 52px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
}
header .headline p {
  width: 12, 5rem;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
header .headline .get_started {
  border-bottom: solid 4px #615855;
  border-radius: 3px;
  background-color: #998675;
  padding: 21px 40px;
  max-width: 170px;
  align-self: center;
  font-family: Raleway;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 23px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
header .headline .get_started:hover {
  border-bottom: solid 2px #615855;
  border-top: solid 2px #615855;
}
header .headline .get_started:active {
  border-bottom: solid 0px #615855;
  border-top: solid 4px #615855;
}
header .left_slide,
header .right_slide {
  width: 40px;
  height: 80px;
}
header .left_slide {
  background-image: url(../img/header/left.svg);
  background-repeat: no-repeat;
  margin-right: 30rem;
}
header .left_slide:hover {
  background-image: url(../img/header/left-hover.svg);
  background-position: 0px 5px;
}
header .right_slide {
  background-image: url(../img/header/right.svg);
  background-repeat: no-repeat;
  margin-left: 30rem;
}
header .right_slide:hover {
  background-image: url(../img/header/right-hover.svg);
  background-position: 0px 5px;
}
header .radio_container {
  margin-bottom: 30px;
  display: inline-flex;
  justify-content: center;
}
header .radio_container .radio_slider {
  width: 15px;
  height: 15px;
  background-image: url(../img/header/radio_off.png);
  margin: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 1px 1px;
}
header .radio_container .radio_slider:hover, header .radio_container .radio_slider:active {
  background-image: url(../img/header/radio_on.png);
  background-position: 0px 0px;
}

.container {
  width: 120rem;
}

/*# sourceMappingURL=style.css.map */
